<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Default{% endblock %}</title>
  {% include 'commonCss.html' %}
  {% block customStyleSheets %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>

{% include 'commonJs.html' %}
{% block customJavascriptFiles %}{% endblock %}
</body>
</html>
